# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
*~

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compressed files
.zip
.zipx
.bz
.bz2
.gz
.lz
.lzma
.xz
.z
.Z
.7z
.tar
.tgz
.cpio
.a
.ar
.iso
.rar
.ace
.cab
.dd
.dmg
.jar