<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.macbuild_update</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>TERM</key>
      <string>ansi</string>
      <key>PATH</key>
      <string>/Users/carrwong/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/carrwong/bin/macbuild</string>
      <string>--update-only</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>6</integer>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
